{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{% static '/favicon.ico' %}">
    <title>GEBEYA SHOE STORE</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link href="{% static '/css/app.04d74bc6.css' %}" rel="preload" as="style">
    <link href="{% static '/css/chunk-vendors.1af2b5c2.css' %}" rel="preload" as="style">
    <link href="{% static '/js/app.d66b9dec.js' %}" rel="preload" as="script">
    <link href="{% static '/js/chunk-vendors.15b1aade.js' %}" rel="preload" as="script">
    <link href="{% static '/css/chunk-vendors.1af2b5c2.css' %}" rel="stylesheet">
    <link href="{% static '/css/app.04d74bc6.css' %}" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but front-end doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id="app"></div>
    <script src="{% static '/js/chunk-vendors.15b1aade.js' %}"></script>
    <script src="{% static '/js/app.d66b9dec.js' %}"></script>
</body>

</html>